header {
  background-image: url(product.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 700px;
  top: 0;
  right: 0;
  left: 0%;
  margin: 0;
  margin-top: 0;
  position: relative;
}



nav {
background-color:rgb(177, 166, 150);
  margin: 0%;
  height: 100px;
  width: 100%;

}

.navbar nav .navdiv ul {
  display: flex;
}

.navbar nav .navdiv ul li {
  list-style-type: none;
  padding-right: 40px;
  font-size: larger;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: aliceblue;

}

.logo {
  padding-top: 30px;
  width: 250px;
  height: auto;
  padding-left: 30px;
  padding-bottom: 20px;
}

.navbar nav .navdiv ul .list {
  padding-top: 40px;
  padding-right: 20px;
  font-size: large;
  text-transform: capitalize;
  padding-bottom: 20px;

}

.navbar nav .navdiv ul .home {
  padding-top: 40px;
  padding-right: 20px;
  font-size: large;
  text-transform: capitalize;
  padding-left: 750px;
  padding-bottom: 20px;
}

* {
  text-shadow: 2px 5px 12px rgb(21, 21, 20);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
background-color:rgb(177, 166, 150)
}

ul {
  padding: 0;
  margin: 0;
}

.navbar nav .navdiv ul {
  display: flex;
  align-items: center;
}

button {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e6c200;
  border-radius: 18px;
  box-shadow: 2px 5px 12px rgb(21, 21, 20);
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  border-style: none;
  font-weight: bold;
}

button:hover {
  background-color: #e6c200;
  font-size: medium;

  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;

  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

.hero {
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-left: 550px;


}

.hero h1 {
  text-transform: capitalize;
  font-size: 52px;
  color: white;
font-weight: 400;
  font-style: normal;
  font-family: "Major Mono Display", monospace;
 


}

p {
  text-transform: capitalize;
  font-size: 20px;
  color: white;
  margin-top: 3px;
  letter-spacing: 0.5;
  font-family: sans-serif;
  padding-left: 10px;

}

.shopnow {
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 120px;
  background-color: #f8d3ef;
  border-radius: 18px;
  box-shadow: 2px 5px 12px rgb(21, 21, 20);
  text-shadow: 2px 5px 12px rgb(21, 21, 20);
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  border-style: none;
  font-weight: bold;
}

.shopnow:hover {
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 120px;
  margin-top: 10px;
  padding-right: 20px;
  background-color: #f8d3ef;
  border-radius: 10px;
  box-shadow: 2px 5px 12px rgb(21, 21, 20);
  text-shadow: 2px 5px 12px rgb(21, 21, 20);
  text-transform: capitalize;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  border-style: none;
  font-weight: bold;
}